html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
}

#root {
  display: flex;
}

#root .str-chat__channel-list {
  width: 30%;
}

#root .str-chat__channel {
  width: 100%;
}

#root .str-chat__thread {
  width: 45%;
}
